.container {
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

.button {
    padding: 5px 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
}