:root {
  --bg: #151c2c;
  --bgSoft: #182237;
  --text: white;
  --textSoft: #b7bac1;
  --bgSecondary: #2e374a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}